body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.showcase .container {
  width: 100%;
}

.main-container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.dark {
  padding: 5px;
  background: #393e51;
  color: #FFFFFF;
  margin-top: 40px;
  text-align: center;
}

header {
  background: #393e51;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header .branding {
  float: left;
}

header .branding h1 {
  margin: 0;
  margin-top: 10px;
}

header .highlight {
  color: #E8491D;
  font-weight: bold;
}

header nav {
  float: right;
  margin-top: 10px;
}

.showcase {
  min-height: 120px;
  margin-top: 15px;
  background: url('img/Steps.png') no-repeat center;
  width: 100%;
}

button.accordion {
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: none;
  transition: 0.4s;
}

button.accordion:after {
  text-align: center;
  font-family: 'FontAwesome';
  content: "\f067";
  font-size: 13px;
  color: #777777;
  float: right;
  margin-left: 5px;
}

button.accordion.active, button.accordion:hover {
  background-color: #DDDDDD;
}

button.accordion.active:after {
  text-align: center;
  font-family: 'FontAwesome';
  content: "\f068";
}

button.attach-items {
  float: right;
  background: #393e51;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #393e51;
  padding: 10px;
  cursor: pointer;
}

div.panel {
  padding: 0 18px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  display: none;
}

.form-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.red {
  color: #FF0000;
  font-weight: bold;
}

.blue {
  color: #0000FF;
  font-weight: bold;
}

.grey {
  color: #CCCCCC;
}

p {
  font-size: 12px;
  color: #CCCCCC;
}

label {
  font-size: 15px;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

.indent {
  text-indent: 4em;
}

.pad {
  padding-top: 10px;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form input {
  width: 100%;
  padding: 5px;
}

.top-border {
  border-top: 1px solid #CCCCCC;
  padding-top: 15px;
}

.bottom-border {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
}

.attach button {
  margin-top: -50px;
  float: right;
  background: #393e51;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #393e51;
  padding: 10px;
  cursor: pointer;
}

.contact form button {
  margin-top: 20px;
  float: right;
  background: #393e51;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #393e51;
  padding: 10px;
  cursor: pointer;
}

div.panel div.choose-service {
  min-height: 300px;
  border-top: none;
  width: 100%;
}

div.panel div.review-order {
  min-height: 300px;
  border-top: none;
  width: 100%;
}

div.panel div.complete-order {
  min-height: 300px;
  border-top: none;
  width: 100%;
}

article.main-col {
  margin-top: 50px;
  float: left;
  width: 65%;
}

aside.sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

div.cart {
  padding-top: 10px;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #DDDDDD;
  min-height: 225px;
}

div.price {
  padding-top: 10px;
  padding-right: 25px;
  background: #FFFFFF;
  text-align: right;
  border: 1px solid #DDDDDD;
  min-height: 50px;
}

span.shopping-price {
  font-size: 25px;
  font-weight: bold;
}

.dropdown {
  margin-top: 15px;
}

.contact .service {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.contact .service button {
  margin-top: 125px;
  float: right;
  background: #393e51;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #393e51;
  padding: 10px;
  cursor: pointer;
}

.contact .review {
  margin-top: 20px;
  margin-bottom: 20px;
}

#lBtn, #uBtn {
  cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%;
}
